[*.cs]

# CS8768: Допустимость значений NULL для ссылочных типов в типе возвращаемого значения не соответствует реализованному элементу (возможно, из-за атрибутов допустимости значений NULL).
dotnet_diagnostic.CS8768.severity = none
